# Ignore all by default
/*
# Exceptions:
!/auto/
!/config/
!/local/
!/scripts/
!/notes/
!.gitignore
!CHANGELOG.md
!README.md

# Ignore Specific Files:
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source