# Ignore all by default
/*
# Exceptions:
!/auto/
!/config/
!/notes/
!/scripts/
!.config
!.gitignore
!.gitmodules
!CHANGELOG.md
!README.md
!settings

# Ignore Specific Files:
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
